html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-weight: 500;
}
body {
  background-color: #fa5f55;
}

.header {
  font-size: 5.2rem;
  font-family: "Play", sans-serif;
  margin: 3rem auto;
  text-align: center;
}
